.education-card {
    display: grid;
    justify-items: center;
    grid-template-rows: 50% 50%;
    align-items: center;
    grid-gap: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 260px;
    height: 160px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
}

.experience-card {
    display: grid;
    justify-items: center;
    grid-template-rows: 50% 50%;
    align-items: center;
    grid-gap: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 260px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
}

.modal {
    border-radius: 5px;
    background-color: rgba(194, 0, 0, 0.35);
}

.popup-overlay {
    border-radius: 5px;
    background-color: rgba(194, 0, 0, 0.35);
}

.img {
    max-width: 100%;
}

.title {
    font-weight: bold;
    font-size: larger;
}

.btn {
    height: 40px;
    width: 80px;
    background-color: rgba(255, 254, 254, 0);
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
}

.btn:hover {
    background-color:rgb(56, 56, 56);
    color: white;
    transition: background-color 100ms ease-in;
    transition: color 100ms ease-in;
}

.text {
    display: grid;
    justify-items: center;
    grid-gap: 10px;
}

.title-info {
    display: grid;
    grid-gap: 5px;
}

.popup-content {
    margin: auto;
    background: rgb(177, 13, 13);
    width: 50%;
    padding: 5px;
    border-radius: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }