.education-card {
    display: grid;
    justify-items: center;
    grid-template-rows: 50% 50%;
    align-items: center;
    grid-gap: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 260px;
    height: 160px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
}

.experience-card {
    display: grid;
    justify-items: center;
    grid-template-rows: 50% 50%;
    align-items: center;
    grid-gap: 10px;
    padding: 20px;
    border-radius: 5px;
    width: 260px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(10px);
}

.img {
    max-width: 100%;
}

.title {
    font-weight: bold;
    font-size: larger;
}

.btn {
    height: 40px;
    width: 80px;
    background-color: rgba(255, 254, 254, 0);
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
}

.btn:hover {
    background-color:rgb(56, 56, 56);
    color: white;
    transition: background-color 100ms ease-in;
    transition: color 100ms ease-in;
}

.text {
    display: grid;
    justify-items: center;
    grid-gap: 10px;
}

.title-info {
    display: grid;
    grid-gap: 5px;
}