.project-card {
    display: grid;
    grid-auto-flow: row;
    align-content:space-between;
    grid-gap: 10px;
    padding: 20px;
    border-radius: 5px;
    min-width: 260px;
    max-width: 620px;
    width: 80vw;
    min-height: 200px;
    background-color: rgb(255, 255, 255);
    box-shadow:
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    100px 100px 80px rgba(0, 0, 0, 0.07)
  ;
}

.title {
    font-weight: bold;
    font-size: larger;
}

.description {
    text-align: start;
    font-weight: 500;
    font-size: large;
}

.technologies-text {
    color: rgb(88, 88, 88);
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    justify-content: center;
    grid-gap: 10px;
}