body {
  margin: 0px;
}

.root {
  /* background: url("./images/background.png") no-repeat; */
  background-color: #afc8b8;
  background-size: cover;
  text-align: center;
  display: grid;
  align-items: start;
  padding: 30px;
  grid-gap: 20px;
}

.contact-info {
  display: grid;
  justify-items: center;
}

.name {
  font-size: 40px;
  font-weight: 500;
}

.avatar {
  height: 150px;
  border-radius: 50%;
}

.experience {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 20px;
}

@media screen and (min-width:690px) {
  .education {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
    grid-gap: 20px;
  }
}

@media screen and (max-width:690px) {
  .education {
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    grid-gap: 20px;
  }
}

/* .education {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  grid-gap: 20px;
} */

.test-results {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  grid-gap: 20px;
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

a {
  color: black;
  text-decoration: none;
  font-size: large;
}

a:hover {
  text-decoration: underline;
}